<!DOCTYPE html>
<html>
    <head>
        <title>Merlin</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include(appPath + '/www/views/themes/' + theme.nameRaw + '/includes.ejs') %>
        <%- include('./includes.ejs') %>
    </head>
    <body>
        <% include header.ejs %>
        <div class="container">
            <div class="settings"></div>
        </div>
        <script>
            function validJSON(string) {
                try {
                    JSON.parse(string);
                } catch (e) {
                    return false;
                }
                return true;
            }

            var config = JSON.parse(he.decode('<%= JSON.stringify(config) %>'));
            var html = '';

            html += '<h1 class="title">settings</h1><textarea class="content" spellcheck="false">';
            html += JSON.stringify(config, null, 2);
            html += '</textarea><button class="save-button">Save</button>';

            $('.settings').append(html);

            $('.settings').on('click', '.save-button', function() {
                if(validJSON($('.settings .content').val())) {
                    var mModal = new modal({
                        title: 'Everything\'s fine.',
                        text: 'Are you sure you want to update settings?',
                        buttons: ['Confirm', 'Cancel'],
                    });

                    mModal.buttonsFunctions = [
                        function() {
                            mModal.close();

                            setTimeout(function() { 
                                $.ajax({
                                    url: 'http://<%= localIp %>:' + config.apiPort + '/brain/settings',
                                    method: 'PUT',
                                    data: {json: $('.settings .content').val()},
                                    success: function(result) {
                                        new modal({ title: 'Please wait.', text: 'Merlin is being rebooted now. Wait a few seconds and try refreshing this page.', centerContent: true, closeButtonVisible: false }).show();
                                    },
                                    error: function(result) {
                                        new modal({ title: 'Oh no!', text: 'There was an error while sending the request.<br><br>Here it is:<pre>' + JSON.stringify(result, null, 2) + '</pre>', centerContent: true }).show();
                                    }
                                });
                            }, 500);
                        },
                        function() { mModal.close(); }
                    ];

                    mModal.show();
                }

                else
                    new modal({ title: 'Oh no!', text: 'There\'s an error in your JSON file.' }).show();
            });

                /*var mModal = new modal({
                    title: 'Save settings?',
                    text: settingsChangedT,
                    buttons: ['Confirm', 'Cancel'],
                });

                mModal.buttonsFunctions = [
                    function() {
                        console.log(settingsChanged);
                        mModal.close();

                        console.log('http://<%= localIp %>:' + config.apiPort + '/brain/settings');

                        setTimeout(function() { 
                            $.ajax({
                                url: 'http://<%= localIp %>:' + config.apiPort + '/brain/settings',
                                method: 'PUT',
                                data: settingsChanged,
                                success: function(result) {
                                    new modal({ title: 'Please wait.', text: 'Merlin is being rebooted now. Wait a few seconds and try refreshing this page.', centerContent: true, closeButtonVisible: false }).show();
                                },
                                error: function(result) {
                                    new modal({ title: 'Oh no!', text: 'There was an error while sending the request.<br><br>Here it is:<pre>' + JSON.stringify(result, null, 2) + '</pre>', centerContent: true }).show();
                                }
                            });
                        }, 500);
                    },
                    function() { mModal.close(); }
                ];

                if(settingsChangedT != '')
                    mModal.show();

                else
                    new modal({ title: 'Grrr!', text: 'You haven\'t made any changes.' }).show();
            });*/
        </script>
    </body>
</html>